<header class="header">
    <div class="container">
        <div class="logo"><img src="img/logo.png" alt="Luray Bustier" /></div>
        <div class="header-content">
            <div class="header-box header-info">
                <h1 class="header-title title">
                    Станьте обладательницей<br />
                    роскошного бюста
                </h1>
                <p class="header-subtitle">Без гормонов и операций</p>
                <ul class="header-list">
                    <li class="header-list__item header-list__item--icon1">
                        <b>Стимулирует</b> естественное увеличение
                    </li>
                    <li class="header-list__item header-list__item--icon2">
                        <b>Способствует</b> формированию упругих форм
                    </li>
                    <li class="header-list__item header-list__item--icon3">
                        <b>Не имеет</b> побочных эффектов
                    </li>
                </ul>
            </div>
            <div class="header-box">
                <figure class="header-box__pack pack">
                    <img src="img/pack.png" alt="Luray Bustier" />
                </figure>
            </div>
            <div class="header-box">
                <div class="header-form form header-form__main">
                    <div class="discount header-discount">
                        <span class="discount__text">-50%</span>
                    </div>
                    <h3 class="form__title">
                        Закажите сейчас <br /><span class="form__title--color">по Акции</span>
                    </h3>
                    <div class="price">
                        <div class="price-old">
                            <h5 class="price-old__title">Старая цена</h5>
                            <p class="price-old__count">
                                <span class="x_price_previous">1980</span><span
                                    class="x_currency price-current">руб</span>
                            </p>
                        </div>
                        <div class="price-new">
                            <h5 class="price-new__title">Ваша цена</h5>
                            <p class="price-new__count">
                                <span class="x_price_current">990</span><span
                                    class="x_currency price-current">руб</span>
                            </p>
                        </div>
                    </div>
                    <div class="form__line"></div>
                    <h4 class="form-timer__title">
                        Осталось до конца<br />
                        акции
                    </h4>
                    <div class="form-timer">
                        <div class="form-timer__when hours">08</div>
                        <div class="form-timer__sup">:</div>
                        <div class="form-timer__when minutes">15</div>
                        <div class="form-timer__sup">:</div>
                        <div class="form-timer__when seconds">23</div>
                    </div>
                    <button class="btn ever-popup-btn form-btn">
                        Заказать <span class="btn__text">по акции</span>
                    </button>
                    <div class="form-icon">
                        <img src="img/icon-form.png" alt="gmp" class="form-icon" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>