<section class="block best">
    <div class="container">
        <div class="best__logo">
            <img src="img/logo-main.png" alt="">
            <h2 class="title">Уже оценили во всем мире </h2>
        </div>
        <div class="best__items">
            <div class="best__item"><img src="img/medal4.png" alt="">
                <p>Best in Europe</p>
            </div>
            <div class="best__item"><img src="img/medal3.png" alt="">
                <p>Best in Australia</p>
            </div>
            <div class="best__item"><img src="img/medal2.png" alt="">
                <p>Best in China</p>
            </div>
            <div class="best__item"><img src="img/medal1.png" alt="">
                <p>Best in Alaska</p>
            </div>
        </div>
    </div>

</section>