<section class="block2 block">
    <div class="container">
        <h2 class="title">
            <span class="prod_green">FishBom</span> <span class="prod_orange">expert</span> разработан<br>
именно для зимней рыбалки
        </h2>
        <div class="block2__content">
            <img src="../img/bl2-img.jpg" alt="" class="block2__content-img">
            <p>Зимой рыба ощущает нехватку кислорода и стремится найти
                <nobr>в водоеме</nobr> его источник. <b>Приманка FishBom expert</b> при контакте с водой начинает <b>интенсивно выделять кислород,  чем приманивает
                <nobr>и активизирует</nobr> рыбу.</b>
                </p>
                <div class="block2__content-pack">
                    <img src="../img/product.png" alt="" class="block2__content-pack--product">
                    <img src="../img/medal-choice.png" alt="" class="block2__content-pack--choice">
                </div>
        </div>
    </div>
</section>