
<section class="deliver block">
	<div class="container">
		<div class="deliver__info">
			<div class="deliver__confid">
				<p class="deliver__var">Доставка почтой или курьером</p>
				<img src="img/confid.svg" alt="">
				<p class="deliver__var--confid">
					Конфиденциальность гарантирована.<br>
					Оплата при получении
				</p>
			</div>
			<div class="deliver__operator">
				<span class="deliver__operator--info">
					<img src="img/operator.svg" alt="">
					<span class="deliver__operator--bold">42 </span>
					<span> оператора онлайн</span>
				</span>
				<br>
				<span class="deliver__operator--info deliver__operator--second">
					<img src="img/operator_speak.svg" alt="">
					<span class="deliver__operator--bold">24 </span>
					разговаривают
				</span>
				<p class="deliver__time">Круглосуточно без выходных — заказывайте!</p>
			</div>
		</div>
		<div class="deliver__block">
			<div class="deliver__images deliver__images--first">
        <span class="deliver__images--title">Оплата:</span>
        <img src="img/payments.png" alt="">

			</div>

			<div class="deliver__images deliver__images--second delivery">
        <span class="delivery__title">Доставка:</span>
        <div class="delivery__inner">
          <div class="delivery__item">
            <img src="img/car.png" alt="" class="delivery__icon">
            <span class="delivery__label">Доставка курьером</span>
          </div>
          <div class="delivery__item">
            <img src="img/post.png" alt="" class="delivery__icon">
            <span class="delivery__label">Почта России</span>
          </div>
        </div>
			</div>

		</div>
	</div>
</section>

<footer class="footer">

    <div class="container">
        <div class="create_rom_footer" data-color_text="" data-color_link="#444444" data-color_logo="#ef710a">
        </div>
    </div>
</footer>