.footer {
	// margin-top: -70px;
	padding: 50px 0 30px;
	font-size: 16px;
	line-height: 24px;

	@include r(1239) {
		margin-top: -20px;
	}

	@include r(1023) {
		margin: 0;
		padding: 30px 0;
	}

	@include r(479) {
		padding: 25px 0;
	}
}

.rom__link {
	text-decoration: underline;
	text-decoration-skip-ink: none;

	&:hover {
		text-decoration: none;
	}
}

.footer {
	font-size: 16px;
	line-height: 1;
	color: #666;

	padding: 20px 0;
}

.footer__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.footer__logo {
	max-width: 54px;
	margin-right: 20px;
}

.footer__name {
	margin-bottom: 5px;
}

.footer__center {
	text-align: center;
}

.footer__privacy {
	color: inherit;
	text-align: center;

	display: block;
	margin-bottom: 5px;

	&:hover {
		text-decoration: underline;
	}
}

.footer__requisites {
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}

@include r(1023) {
	.footer {
		font-size: 15px;
	}
}

@include r(767) {
	.footer__wrap {
		flex-direction: column;
		justify-content: center;
	}

	.footer__logo {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.footer__right {
		display: none;
	}

	.footer__info {
		display: none;
	}

	.footer__addres {
		display: none;
	}
}

.deliver {
	padding: 20px 0 !important;

	&__info {
		display: flex;
		justify-content: space-between;
	}

	&__var {
		font-size: 21px;
		font-weight: 500;
		line-height: 18px;
		margin-bottom: 20px;
	}

	&__var--confid {
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		padding-left: 22px;

	}

	&__confid {
		position: relative;
		margin-bottom: 44px;

		img {
			position: absolute;
			top: 40px;
			left: 0;
		}
	}

	&__operator {
		width: 51%;

		br {
			display: none;
		}
	}

	&__operator--info {
		position: relative;
		font-size: 18px;
		line-height: 18px;
		margin-right: 36px;
		padding-left: 36px;

		img {
			position: absolute;
			left: -0px;
			top: -5px;
		}

	}

	&__operator--bold {
		font-size: 21px;
		font-weight: 500;
	}

	&__time {
		font-size: 16px;
		line-height: 24px;
		margin-top: 21px;
	}

	&__block {
		padding: 32px 32px 28px;
		background-color: #f8f8f8;
		border-radius: 5px;
		display: flex;
		justify-content: center;

	}

	&__images {
		display: flex;
		align-items: center;
	}

	&__images--title {
		font-size: 21px;
		font-weight: 500;
		margin-right: 40px;
	}

	&__images--second {
		margin-left: 100px;
	}

	&__img {
		margin-right: 21px;
	}

	&__img--second {
		margin-left: 37px;
	}

	&-line {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			right: -20px;
			top: -8px;
			width: 1px;
			height: 28px;
			background-color: #d8d6d6;
		}


	}

}



@include r(1219) {
	.deliver {
		&__images--title {
			margin-right: 20px;
		}

		&__images--second {
			margin-left: 30px;
		}

		&__img {
			margin-left: 0;
		}

		&__images {
			justify-content: space-between;
		}

		&__images--first {
			width: 50%;
		}

		&-line {
			margin-right: 40px;
		}

	}
}

@include r(1023) {
	.deliver {
		&__info {
			flex-wrap: wrap;
		}

		&__confid {
			width: auto;
			margin: 0 auto;
			margin-bottom: 20px;
		}

		&__operator {
			width: auto;
			margin: 0 auto;
			margin-bottom: 20px;
		}

		&__images--first {
			margin-bottom: 15px;
		}

		&__images--title {
			margin-right: 10px;
		}

		&__block {
			flex-wrap: wrap;
			padding: 30px 10px;
		}

		&__time {
			text-align: center;
		}
	}
}

@include r(999) {
	.deliver {

		&__block {
			flex-wrap: wrap;
			justify-content: center;
		}

		&__images {
			width: auto;
			justify-content: flex-start;

		}

		&__images--second {
			margin-left: 0;
			margin-top: 20px;
		}

		&__images--title {
			margin-right: 20px;
		}

		&__img {
			margin-left: 10px;
		}
	}
}

@include r(767) {
	.deliver {
		&__images--title {
			font-size: 18px;
		}

		&__images {
			img {
				max-width: 70%;
			}
		}
	}
}

@include r(639) {
	.deliver {
		&__operator--info {
			font-size: 16px;
			margin-right: 10px;
		}
	}
}

@include r(479) {
	.deliver {
		&__operator--bold {
			font-size: 18px;
		}

		&__operator--info {
			width: 100%;
			display: block;
		}

		&__operator--second {
			margin-top: 15px;
		}

		&__images {
			flex-wrap: wrap;
		}

		&__images--title {
			width: 100%;
			display: block;
			text-align: center;
			margin-bottom: 10px;
		}

		&__images--first {
			margin-bottom: 0;
		}
	}

	.delivery__title {
		width: 100%;
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}

	.delivery__inner {
		justify-content: center;
	}
}

@include r(374) {
	.deliver {
		&__images--title {
			font-size: 16px;
			margin-right: 10px;
		}

		&__img {
			margin-left: 5px;
		}

		&__images--sm {
			font-size: 14px;
		}

		&__operator {
			br {
				display: block;
			}
		}

		&__var {
			font-size: 19px;
		}

		&__var--confid {
			font-size: 15px;
		}
	}

}

.delivery__title {
	font-size: 21px;
	font-weight: 500;
	margin-right: 10px;
}

.delivery__inner {
	display: flex;
	flex-grow: 1;
}

.delivery__item {
	display: flex;
	align-items: center;
	padding: 0 30px;
}

.delivery__item:first-of-type {
	position: relative;
	border-right: 1px solid #d8d6d6;
}

.delivery__icon {
	margin-right: 21px;
}

.delivery__label {
	white-space: nowrap;
}

@include r(1219) {
	.delivery__item {
		padding: 0 20px;
	}

	.delivery__label {
		max-width: 65px;
		white-space: normal;
	}
}

@include r(1023) {
	.deliver {
		padding-bottom: 0 !important;
	}

	.deliver__images--first {
		width: 100%;
		justify-content: center;
	}
}

@include r(767) {
	.delivery__title {
		margin-bottom: 10px;
		font-size: 18px;
	}

	.delivery__icon {
		max-width: 30px;
		margin-right: 10px;
	}
}

@include r(639) {
	.delivery__item {
		padding: 0 10px;
	}
}

@include r(479) {
	.delivery {
		flex-wrap: wrap;
	}

	.delivery__title {
		margin-right: 10px;
	}

	.delivery__inner {
		width: 100%;
	}


	.delivery__item:first-of-type {
		padding-left: 0;
	}
}

@include r(374) {
	.delivery__title {
		font-size: 16px;
	}
}

// .rom__svg {
// 	fill: rgb(227, 227, 227) !important;
// }

@include r(1239) {
	.delivery {
		&__title {
			font-size: 18px;
		}

		&__label {
			font-size: 16px;
		}

		&__item {
			&:first-of-type {
				border-right: 0;
			}
		}

	}

	.deliver {
		&__images--second {
			margin-left: 133px;
		}
	}
}

@include r(1199) {
	.deliver__images--second {
		margin-left: 53px;
	}
}
@include r(1023) {
	.deliver__images--second {
		margin-left: 40px;
	}
}
@include r(767) {
	.deliver__images--second {
		margin-left: 20px;
	}
}
@include r(639) {
	.deliver__images--second {
		margin-left: 0px;
	}
}
@include r(479) {
	.deliver__confid img {
		padding-top: 20px;
	}
}
@include r(374) {
	.deliver__confid img {
		padding-top: 0px;
	}
}
.rom__center p {
	line-height: 1.2;
	margin-top: 5px;
}