.report {
  padding: 90px 0;

  .container {
    position: relative;
  }

  .title {
    margin-bottom: 50px;

    @include r(1023) {
      margin-bottom: 30px;
    }
  }
}

.r-slider {

  &__item {
    display: flex;
    justify-content: center;

    @include r(767) {
      flex-direction: column;
    }

  }

  &__left {
    min-width: 195px;
    padding: 23px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: 2px solid #c4c3ae;
    background-color: #d8d6c1;
    position: relative;

    @include r(767) {
      display: flex;
      flex-direction: row;
      border-bottom-left-radius: 0;
      border-top-right-radius: 10px;
      border-right: none;
      border-bottom: 2px solid #c4c3ae;
    }

    @include r(479) {
      padding: 10px;
      padding-bottom: 23px;
      flex-direction: column;
      align-items: center;
    }

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-left: 2px solid #c4c3ae;
      border-bottom: 2px solid #c4c3ae;
      background-color: #ced6bf;
      top: 43px;
      right: -9px;
      transform: rotate(45deg);

      @include r(767) {
        top: auto;
        right: auto;
        left: 84px;
        bottom: -10px;
        transform: rotate(135deg);
      }

      @include r(639) {
        left: 149px;
      }
    }
  }

  &__right {
    max-width: 578px;
    padding: 25px 20px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ced6bf;

    @include r(1023) {
      max-width: 420px;
    }

    @include r(767) {
      max-width: none;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;

    }
  }

  &__top {
    margin-bottom: 17px;
    padding-bottom: 17px;
    font-size: 15px;
    color: #555555;
    border-bottom: 1px solid #c4c3ae;
  }

  &__ava {
    margin-bottom: 15px;

    @include r(767) {
      margin-bottom: 0;
    }
  }

  &__name {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    @include r(767) {
      text-align: left;
    }
  }

  &__profile {
    @include r(767) {
      margin-left: 20px;
    }

    @include r(639) {}

    @include r(479) {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  &__parameter {
    margin-bottom: 9px;
    font-size: 15px;
    color: #555555;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__value {
    color: #222222;

    @include r(479) {
      // display: block;
    }
  }

  &__message {
    margin-bottom: 19px;
    font-size: 18px;
    color: #222222;
    line-height: 23px;
  }

  &__photo-wrap {
    padding: 13px 11px 15px;
    display: flex;
    justify-content: space-around;
    position: relative;
    border: 1px solid #b2b3b3;
  }

  &__legend {
    position: absolute;
    width: 104px;
    top: -10px;
    left: 11px;
    text-align: center;
    font-size: 15px;
    color: #555555;
    background-color: #ced6bf;
  }
}

.arrows-wrap {
  width: 1220px;
  // height: 1px;
  // background-color: #000000;
  position: absolute;
  top: calc(50% + 20px);
  left: 50%;
  transform: translate(-50%, -50%);

  @include r(1239) {
    width: 1023px;
  }

  @include r(1023) {
    width: 767px;
  }

  @include r(767) {
    width: 640px;
  }

  @include r(639) {
    width: 480px;
    top: 302px;
    z-index: 1;
  }

  @include r(479) {
    width: 300px;
    top: 215px;
  }
}

.arrows__button {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 9px 20px 0px rgba(9, 121, 136, 0.13);
  transition: all .2s;

  @include r(639) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    cursor: pointer;
    background-color: $orange;
    box-shadow: 0px 9px 20px 0px rgba(9, 121, 136, 0.13);

    .arrow-left,
    .arrow-right {
      fill: white;
    }
  }

  &_left {
    position: absolute;
    left: 0;
  }

  &_right {
    position: absolute;
    right: 0;
  }
}

.swiper-box {
  max-width: 1033px;
  margin: 0 auto;

  @include r(1239) {
    width: 870px;
  }

  @include r(1023) {
    width: 600px;
  }

  @include r(767) {
    width: 460px;
  }

  @include r(479) {
    width: 300px;
  }
}

.swiper-container {
  margin-bottom: 70px;
}

.arrow-left,
.arrow-right {
  width: 24px;
  height: 24px;
  fill: $green-dark;
}

.arrow-right {
  transform: scale(-1);
}


.swiper-button-prev,
.swiper-button-next {
  background-image: none;
}

.swiper-pagination {
  width: 480px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -56px;

  @include r(639) {
    width: 300px;
  }
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  margin-right: 35px;
  background-color: #c0ddf0;
  opacity: 1;
  position: relative;

  @include r(639) {
    margin-right: 25px;
  }

  @include r(479) {
    margin-right: 15px;
  }

  &:hover {
    background-color: $orange;
  }

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 2px;
    right: -50px;
    background-color: #c0ddf0;
    z-index: -1;

    @include r(639) {
      right: -40px;
    }

    @include r(479) {
      width: 40px;
      right: -30px;
    }
  }

  &:last-child {
    margin-right: 0px;

    &::before {
      display: none;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: $orange;
  box-shadow: 0px 0px 2px 4px rgba(251, 173, 109, 1);
}

.swiper-slide-active {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 371px;
    width: 773px;
    border-radius: 10px;
    box-shadow: 0px 9px 20px 0px rgba(9, 121, 136, 0.13);

    @include r(1239) {
      height: 325px;
    }

    @include r(1023) {
      display: none;
      height: 323px;
    }
  }
}