<section class="order block">
    <div class="container">
        <h2 class="title title_top">
            Как заказать <span class="prod_green">FishBOM</span> <span class="prod_orange">expert</span>
        </h2>
        <ul class="order__step step">
            <li class="step__item">
                <div class="step__top">
                    <img src="img/form.png" alt="">
                </div>
                <p class="step__title">
                    Заполните форму заказа
                </p>
                <p class="step__text">
                    Укажите только имя и&nbsp;номер
                    телефона
                </p>
            </li>
            <li class="step__item">
                <div class="step__top">
                    <img src="img/operator.png" alt="">
                </div>
                <p class="step__title">
                    Примите звонок оператора
                </p>
                <p class="step__text">
                    Специалист проконсультирует
                    и&nbsp;уточнит адресные данные
                </p>
            </li>
            <li class="step__item">
                <div class="step__top">
                    <img src="img/product-box.png" alt="">
                </div>
                <p class="step__title">
                    Получите посылку
                </p>
                <p class="step__text">
                    Предоплата не&nbsp;требуется
                </p>
            </li>
        </ul>
    </div>
</section>