.order {
  padding: 90px 0;
  background:
    // url("../img/fade-bg.png") no-repeat 50% 0%,
    url("../img/hook3.png") no-repeat 52% -12px;
  background-size: 1170px, auto;
  position: relative;

  @include r(1199) {
    background: none;
  }

  .title {
    margin-bottom: 52px;

    @include r(767) {
      margin-top: 82px;
      margin-bottom: 40px;
    }

    @include r(479) {
      margin-bottom: 33px;
    }
  }

  .prod_green,
  .prod_orange {
    @include r(479) {
      display: none;
    }
  }
}

.step {
  display: flex;
  justify-content: center;

  @include r(1023) {
    justify-content: space-between;
  }

  @include r(767) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    width: 300px;
    text-align: center;

    &:nth-child(2) {
      margin: 0 64px;

      @include r(1023) {
        margin: 0;
      }

      .step__top {
        padding-bottom: 0;

        img {
          margin-bottom: -1px;
        }
      }
    }

    &:nth-child(3) {
      .step__top {
        padding: 45px 0;

        @include r(767) {
          padding: 23px 0;
        }
      }
    }

    &:nth-child(odd) {
      margin-top: 40px;

      @include r(639) {
        margin: 0;
      }

      @include r(479) {
        margin-bottom: 20px;
      }

    }

    &:nth-child(even) {
      @include r(639) {
        margin-bottom: 20px;
      }
    }

    &:last-child {
      @include r(479) {
        margin-bottom: 0;
      }
    }

    @include r(1023) {
      width: 220px;
    }

    @include r(767) {
      width: 180px;
    }

    @include r(639) {
      margin-bottom: 20px;
    }
  }

  &__top {
    min-height: 220px;
    margin-bottom: 33px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 9px 20px 0px rgba(9, 121, 136, 0.13);

    @include r(767) {
      min-height: auto;
    }
  }

  &__title {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;

    @include r(767) {

      font-size: 20px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 23px;

    @include r(767) {
      font-size: 16px;
    }
  }
}