<section class="block3 block">
    <div class="container">
        <div class="block3__logo"><img src="../img/logo-main.png" alt=""></div>
        <h2 class="title block3__title">
            История легендарной приманки
        </h2>
        <div class="legend">
            <div class="legend__desk">
                <img src="img/book-desk.png" alt="">
                <p><b>Лаури Рапала</b> известен миру благодаря воблерам, которые он изобрел в 1936 году,
                    <nobr>и которые</nobr> до сих пор не имеют себе равных.
                    <span class="br"></span>
                    Статус настоящей легенды и чемпиона <nobr>по зимней</nobr> рыбалке он заслужил тем, что при любых погодных условиях, в любом водоеме, <b>Лаури Рапала добывал рыбы больше всех и быстрее всех.</b>
                    <span class="br"></span>
                    Все дело в аттрактанте, секрет создания которого был обнаружен только <br>в 2019 году. <b>Изобретение Лаури было усовершенствовано и стало самым эффективным и универсальным средством для рыбной ловли зимой – FishBom expert.</b>
                    
                    </p>
                    <img src="img/sign.png" alt="" class="legend__desk-sign">
            </div>
            <div class="legend__mob"></div>
        </div>
        <button class="btn block3__btn">Получить бесплатно</button>
    </div>
</section>