<section class="block advantages">
    <div class="advantages__first container">
        <h2 class="title">Не клев, а жор! </h2>
        <p class="sub-title"><span class="prod_green">FishBom</span> <span class="prod_orange">expert</span> лучше
            других аттрактантов и&nbsp;прикормок</p>
        <div class="advantages__img">
            <img src="img/layer_79.png" alt="">
            <img src="img/product.png" alt="" class="advantages__prod">
            <img src="img/medal-choice.png" alt="" class="advantages__choice">
        </div>
        <div class="advantages__items">
            <div class="advantages__item advantages__item--line">
                <img src="img/feat1.png" alt="">
                <p>Работает в любом<br> водоеме и при любой<br> погоде</p>
            </div>
            <div class="advantages__item">
                <img src="img/feat2.png" alt="">
                <p>Часами приманивает<br> всю рыбу вокруг</p>
            </div>
            <div class="advantages__item advantages__item--line">
                <img src="img/feat3.png" alt="">
                <p>Особенно эффективен<br> для ловли крупных<br> особей </p>
            </div>
            <div class="advantages__item">
                <img src="img/feat4.png" alt="">
                <p>Прост в применении,<br> даже перчатки снимать<br> не&nbsp;нужно </p>
            </div>

        </div>
        <div class="advantages__btn">
            <div class="ever-popup-btn btn">Получить бесплатно</div>
        </div>
    </div>


</section>