body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  // overflow-x: hidden;
  color: #444444;
  background-color: #fff;
  // background: url(../img/1bg.svg) center repeat-y;
  background-size: auto;
  box-sizing: border-box;

  @include r(479) {
    margin-top: 0 !important;
  }
}

html,
body {
  // overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  overflow: hidden;
}

::-ms-clear {
  display: none;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 25px;

  @include r(1239) {
    max-width: 1024px;
  }

  @include r(1023) {
    max-width: 768px;
    padding: 0 10px;
  }

  @include r(767) {
    max-width: 640px;
  }

  @include r(639) {
    max-width: 480px;
  }

  @include r(479) {
    max-width: 320px;
  }
}

.title {
  font-size: 50px;
  font-weight: 900;
  line-height: 50px;
  color: #222222;
  text-align: center;

  @include r(1239) {
    font-size: 42px;
    line-height: 1.1;
  }

  @include r(1023) {
    font-size: 36px;
    line-height: 1.1;
  }

  @include r(767) {
    font-size: 32px;
  }

  @include r(639) {
    font-size: 29px;
  }

  @include r(479) {
    font-size: 26px;
  }
}

.title_top {
  margin-top: 94px;
  position: relative;

  @include r(1239) {
    margin-top: 76px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 184px;
    height: 67px;
    top: -94px;
    left: 50%;
    transform: translateX(-50%);
    background: url("../img/logo-main.png") no-repeat;
    background-size: contain;

    @include r(1239) {
      top: -75px;
    }

    @include r(767) {
      // top: -74px;
    }
  }
}

.text-bold,
strong,
b {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.nowrap {
  white-space: nowrap;
}

select:-moz-focusring,
a:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

*:focus,
*:visited,
*:active,
*:hover {
  outline: 0 !important;
}

a,
a:focus,
a:visited,
a:active,
a:hover {
  outline: 0 !important;
}

*::-moz-focus-inner {
  border: 0;
  outline: none;
}

.product--color {
  color: #f1a583;
}

.btn {
  width: 100%;
  height: 65px;
  max-width: 225px;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  border-radius: 10px;
  background-image: linear-gradient(to top, #fbcd2d 0%, #fbcd2d 1%, #fdcb40 53%, #fbcd2d 100%);
  cursor: pointer;
  box-shadow: inset 0px -5px 0px 0px #e5b41b;
  color: #000000;
  font-size: 26px;
  font-weight: 900;
  position: relative;
  padding-bottom: 5px;

  &__text {
    font-size: 20px;
    line-height: 1;
    display: block;
    font-weight: 400;
  }

  &:hover {
    background-image: linear-gradient(to top, #f4cd17 1%, #ffda5e 53%, #f4cd17 100%);
    box-shadow: inset 0px -5px 0px 0px #e5b41b;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 10px;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0px 3px 5px 0px rgba(229, 180, 27, 0.5);
    }
  }
}

.prod_green {
  color: #264732;
}

.prod_orange {
  color: #ef710a;
}

::-webkit-input-placeholder {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

::-moz-placeholder {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #666666 !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px !important;
  font-weight: 400 !important;
}

::placeholder {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
}