<section class="warranty block">
    <div class="container">
        <h2 class="title title_top">
            Гарантированный улов от&nbsp;5&nbsp;кг за 1&nbsp;час
        </h2>
    </div>
    <div class="warranty__slider-wrap">
        <ul class="warranty__slider photo-slider">
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_29.png" alt="">
            </li>
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_30.png" alt="">
            </li>
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_31.png" alt="">
            </li>
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_32.png" alt="">
            </li>
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_33.png" alt="">
            </li>
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_34.png" alt="">
            </li>
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_35.png" alt="">
            </li>
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_36.png" alt="">
            </li>
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_37.png" alt="">
            </li>
            <li class="photo-slider__item">
                <img class="photo-slider__img" src="img/Layer_38.png" alt="">
            </li>
        </ul>
    </div>
    <div class="warranty__content warranty-content block">
        <div class="container">
            <h3 class="warranty-content__title title">
                Забудьте об этих проблемах
            </h3>
            <ul class="warranty-content__problems problems">
                <li class="problems__item">
                    <img src="img/Layer_57.png" alt="" class="problems__img">
                    <p class="problems__text">
                        Клева нет, несмотря ни&nbsp;на&nbsp;что
                    </p>
                </li>
                <li class="problems__item">
                    <img src="img/Layer_58.png" alt="" class="problems__img">
                    <p class="problems__text">
                        Сменилась погода,
                        а&nbsp;вместе с&nbsp;ней пропала
                        и&nbsp;рыба
                    </p>
                </li>
                <li class="problems__item">
                    <img src="img/Layer_59.png" alt="" class="problems__img">
                    <p class="problems__text">
                        На крючок идет только
                        мелкая рыбешка
                    </p>
                </li>
                <li class="problems__item">
                    <img src="img/Layer_61.png" alt="" class="problems__img">
                    <p class="problems__text">
                        Приходится таскать
                        с&nbsp;собой целый арсенал прикормки и&nbsp;аттрактантов
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>