<section class="fake block">
    <div class="container">
        <h2 class="title">
            Внимание! <span class="attention-color">Остерегайтесь&nbsp;подделок!</span>
        </h2>
        <div class="fake__content">
            <div class="fake__text ">
                <p class="fake__disc">
                    С&nbsp;ростом популярности FishBom expert на рынке СНГ, участились случаи подделок.
                    Наш же продукт продается в&nbsp;оригинальной упаковке с&nbsp;уникальным
                    регистрационным кодом! Найдите код на упаковке и&nbsp;проверьте подлинность.
                </p>
                <p class="fake__dat">
                    Отправьте DAT-код по СМС на номер 3888, в&nbsp;ответ получите информацию о&nbsp;подлинности товара.
                </p>
                <p class="fake__sms">
                    Проверьте, что услуга отправки смс на короткий номер не&nbsp;отключена.<br>
                    Бесплатные СМС на&nbsp;номер 3888 подключены в&nbsp;РФ, Армении и&nbsp;Беларуси.
                    <br>
                    <br>
                    <strong>
                        <span class="first-check">Только первая проверка</span> подтверждает подлинность. Только для
                        товаров, защищенных Системой&nbsp;DAT.
                    </strong>

                </p>
            </div>
            <div class="fake__prod">
                <img class="fake__img" src="img/product.png" alt="">
                <img src="img/fake-code.png" alt="" class="fake__code">
            </div>
        </div>

        <span class="x_price_previous">322</span>
        <span class="x_price_current">228</span>
    </div>
</section>