<section class="video block">
    <div class="container">
        <img src="img/hook2.png" alt="" class="video__hook">
        <h2 class="title">
            Как работает <nobr><span class="prod_green">FishBOM</span> <span class="prod_orange">expert</span></nobr>
        </h2>
        <div class="video__top">
            <div class="youtube" id="R8iKuLxEeCw">
                <img src="img/bottom2.png" class="thumb">
            </div>
            
            <img src="img/fish-ring.png" alt="" class="video__fish">
            <ul class="video__bullets">
                <li>
                    <div class="video__bullets--num">
                        <div class="number">1</div>Активизирует
                    </div>
                    <div class="video__bullets--text">Аттрактант выделяет кислород и специфический
                        запах, <b>которые активизируют рыбу</b>
                    </div>
                </li>
                <li>
                    <div class="video__bullets--num">
                        <div class="number">2</div>Приманивает
                    </div>
                    <div class="video__bullets--text">Натруальный состав: креветка, рак, анис, чеснок
                        <nobr>и светящиеся</nobr> силиконовые частицы <b>приманивают,
                            <nobr>как мирную,</nobr> так и хищную рыбу</b>
                    </div>
                </li>
                <li>
                    <div class="video__bullets--num">
                        <div class="number">3</div>Повышает аппетит
                    </div>
                    <div class="video__bullets--text">Специфические ферменты обостряют чувство голода, <b>обеспечивая
                            бешеный клев</b>
                    </div>
                </li>
            </ul>
        </div>
        <div class="video__bottom">
            <p><span class="prod_green">FishBOM</span> <span class="prod_orange">expert</span> делает рыбу легкой
                добычей в руках,
                <nobr>как рыбака</nobr> с многолетним стажем, так и новичка
            </p>
            <div class="ever-popup-btn btn video__btn">Получить бесплатно</div>
        </div>
    </div>
</section>