<div class="header-scroll">
    <div class="container">
        <div class="header-scroll__img">
            <img src="img/action.png" alt="">
        </div>
        <p class="header-scroll__date">
            Только сегодня
            <span class="date-0" data-format="dd month">22 октября</span>
            <span class="header-scroll__free">БЕСПЛАТНО!*</span>
        </p>
        <div class="header-scroll__timer-wrap timer">
            <span class="timer__title">
                До конца акции<br>
                осталось
            </span>
            <div class="timer__dig">
                <span class="hours dig"></span>
                <span class="hours dig"></span>
                <span class="timer__div">:</span>
                <span class="minutes dig"></span>
                <span class="minutes dig"></span>
                <span class="timer__div">:</span>
                <span class="seconds dig"></span>
                <span class="seconds dig"></span>
            </div>
        </div>
        <div class="header-scroll__btn-wrap">
            <button class="ever-popup-btn header-scroll__btn btn">
                Получить бесплатно*
            </button>
            <span class="timer__note">
                *при оформлении заказа
            </span>
        </div>
    </div>
</div>