.header-scroll {
  width: 100%;
  display: none;
  padding: 8px 0;
  background-color: $green-dark;
  position: fixed;
  bottom: 0;
  z-index: 60;
  color: #ffffff;

  @include r(639) {
    padding: 10px 0;
  }

  @include r(479) {
    padding: 8px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(1023) {
      justify-content: space-around;
    }

    @include r(479) {
      flex-wrap: wrap;
    }
  }

  &__img {
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  &__prod {
    max-width: 55px;
    position: relative;

    @include r(479) {
      width: 50%;
    }
  }

  &__balls {
    max-width: 40px;
    position: absolute;
    bottom: 0;
    right: 9px;
  }

  &__action {
    width: 40px;
    height: 40px;
    background: url(../img/label-action.png) no-repeat;
    background-size: contain;
    flex-shrink: 0;
    font-size: 11px;
    font-weight: 700;
    padding-left: 3px;
    padding-top: 13px;

  }

  &__btn-wrap {
    text-align: center;
  }

  &__free {
    color: $orange;
    font-weight: 600;

    @include r(479) {
      display: none;
    }
  }

  &__date {
    font-size: 16px;
    line-height: 1.1;

    @include r(1239) {
      text-align: center;
    }

    @include r(479) {
      width: 100%;
      margin-bottom: 3px;
      position: relative;
      // left: -20px;
    }
  }

  &__div {
    color: #8a9b90;
  }

  .btn {
    width: auto;
    max-width: none;
    height: auto;
    padding: 7px 20px 13px;
    display: flex;
    text-align: center;
    font-size: 20px;
    position: relative;

    @include r(639) {
      max-width: 190px;
    }

    @include r(479) {
      max-width: none;
    }
  }
}

.timer {
  display: flex;
  align-items: center;

  &__title {
    margin-right: 10px;
    font-size: 14px;
  }

  @include r(1023) {
    display: none;
  }

  &__note {
    font-size: 12px;
    color: #ffffff;
  }
}

.dig {
  padding: 3px 10.6px;
  border-radius: 2px;
  background-color: $orange;
  font-size: 24px;
  font-weight: 600;
}

.date-0 {
  @include r(1239) {
    display: block;
    text-align: center;
    line-height: 24px;
  }

  @include r(479) {
    display: inline-block;
  }
}

.date-0 {
  text-transform: lowercase;
}

@include r(1219) {
  .header-scroll__date {
    max-width: 165px;
    br {
      display: none;
    }
  }
}
@include r(1023) {
  .header-scroll__date {
    max-width: 200px;
   
  }
}
@include r(479) {
.header-scroll__img {
  display: none;
}
}